.container {
  max-width: 960px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.header-container {
  background-color: white;
  padding: 50px;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}

.content-container {
  background-color: white;
  padding: 50px;
}

.header {
  flex-grow: 2;
}

.join-project {
  width: 300px;
  text-align: right;
}

.row {
  display: flex;
  padding-bottom: 15px;
}

.field {
  min-width: 200px;
  max-width: 200px;
  padding-right: 30px;
  color: #46b2a2;
  font-weight: 600;
}
